.page-header {
  display: flex;
  width: 1000px;
  height: 69px;
  margin: 0 auto;
}
.page-header .header-logo {
  padding-top: 17px;
}
.page-header .header-nav {
  flex: 1;
  margin-left: 70px;
  margin-right: 40px;
}
.page-header .header-nav .nav-content {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 69px;
}
.page-header .header-nav .nav-item:hover {
  color: #35b558;
}
.page-header .header-nav .nav-item:hover.nav-item:after {
  transform: rotate(225deg);
  transition: all 0.4s ease-in-out;
}
.page-header .header-nav .nav-item:after {
  content: '';
  display: inline-block;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
  transition: all .2s;
  position: relative;
  top: -3px;
  left: 4px;
}
.page-header .header-nav .nav-item:first-child:after {
  display: none;
}
.page-header .header-nav .nav-item:last-child:after {
  display: none;
}
.page-header .header-form {
  display: flex;
  height: 51px;
  padding-top: 20px;
  border: none;
}
.page-header .header-form .header-input {
  height: 30px;
  border: 1px #ccc solid;
  border-right: none;
}
.page-header .header-form .header-button {
  width: 42px;
  height: 34px;
  border: 1px #ccc solid;
  background: #fff;
}
.page-header .header-other-image {
  display: flex;
  width: 81px;
  height: 31px;
  margin-top: 20px;
  margin-left: 38px;
}
.page-header .header-other-image .header-image-left {
  width: 21px;
  height: 23px;
  margin-top: 5px;
  margin-right: 28px;
}
.banner {
  height: 280px;
  padding-top: 64px;
  background: url(../img/ban2.png) center center no-repeat;
  text-align: center;
}
.banner .banner-title {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 28px;
  color: #fff;
}
.banner .banner-title-p {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
.banner .banner-block .banner-p {
  position: relative;
  top: 40px;
  font-size: 14px;
  color: #0be2ef;
}
h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.carrer-section {
  padding-top: 32px;
  background: #f4f4f4;
}
.carrer-section .carrer-title {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #fff;
  background: #14ac93;
}
.carrer-section .carrer-title .carrer-title-item:first-child {
  width: 200px;
  text-align: center;
  background: url(../img/cs1.png) center center no-repeat;
}
.carrer-section .carrer-title .carrer-title-item:last-child {
  width: 180px;
  text-align: center;
  background: url(../img/cs2.png) center center no-repeat;
}
.carrer-section .carrer-content {
  display: flex;
  background: #fff;
}
.carrer-section .carrer-left {
  padding-top: 26px;
  padding-left: 20px;
  width: 179px;
  border-right: 1px solid #bfc0c0;
  border-bottom: 1px solid #bfc0c0;
}
.carrer-section .carrer-left .carrer-content-title {
  margin-bottom: 15px;
  font-size: 14px;
  color: #35a69f;
}
.carrer-section .carrer-left .carrer-content-text {
  display: inline-block;
  margin-bottom: 32px;
  width: 118px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #35a69f;
  border-radius: 14px;
}
.carrer-section .carrer-left ul li {
  display: inline-block;
  margin-bottom: 10px;
  width: 118px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #35a69f;
  border-radius: 14px;
}
.carrer-section .carrer-mid {
  position: relative;
  flex: 1;
  padding-top: 25px;
}
.carrer-section .carrer-mid .carrer-content-title {
  margin-bottom: 15px;
  padding-left: 38px;
  font-size: 14px;
  color: #35a69f;
}
.carrer-section .carrer-mid .carrer-content-p {
  display: flex;
  justify-content: space-between;
  width: 391px;
  padding-left: 40px;
  font-size: 13px;
  color: #666;
}
.carrer-section .carrer-mid .carrer-content-first {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 480px;
  padding-left: 40px;
  margin-top: 10px;
}
.carrer-section .carrer-mid .carrer-content-first-item {
  width: 138px;
  height: 28px;
  margin-bottom: 10px;
  border: 1px solid #35a69f;
  border-radius: 14px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
.carrer-section .carrer-mid .carrer-content-p-item {
  margin-top: 17px;
  padding-left: 40px;
  font-size: 13px;
  color: #666;
  line-height: 13px;
}
.carrer-section .carrer-mid .carrer-content-second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 480px;
  padding-left: 40px;
  margin-top: 10px;
}
.carrer-section .carrer-mid .carrer-content-second-item {
  width: 138px;
  height: 28px;
  margin-bottom: 10px;
  border: 1px solid #35a69f;
  border-radius: 14px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
.carrer-section .carrer-mid .carrer-content-second-item:last-child {
  margin-right: 170px;
}
.carrer-section .carrer-mid .carrer-content-thrid {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin-top: 10px;
  padding-left: 40px;
}
.carrer-section .carrer-mid .carrer-content-thrid li {
  width: 138px;
  height: 28px;
  margin-bottom: 10px;
  border: 1px solid #35a69f;
  border-radius: 14px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
.carrer-section .carrer-mid .carrer-content-four {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin-top: 10px;
  padding-left: 40px;
}
.carrer-section .carrer-mid .carrer-content-four li {
  width: 138px;
  height: 28px;
  margin-bottom: 10px;
  border: 1px solid #35a69f;
  border-radius: 14px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
.carrer-section .carrer-mid .carrer-content-five {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin-top: 10px;
  padding-left: 40px;
}
.carrer-section .carrer-mid .carrer-content-five li {
  width: 138px;
  height: 28px;
  margin-bottom: 10px;
  border: 1px solid #35a69f;
  border-radius: 14px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
.carrer-section .carrer-mid .carrer-content-down {
  margin: 10px 40px 35px;
  width: 558px;
  height: 35px;
  border: 1px dashed #35a69f;
  border-radius: 18px;
  background: #bdf4ef;
  line-height: 35px;
  text-align: center;
  font-size: 13px;
}
.carrer-section .carrer-mid .carrer-content-right {
  position: absolute;
  left: 544px;
  top: 60px;
  display: inline-block;
  width: 38px;
  height: 488px;
  border: 1px dashed #35a69f;
  border-radius: 18px;
  text-align: center;
  font-size: 13px;
  background: #bdf4ef;
}
.carrer-section .carrer-mid .carrer-content-right ul {
  margin-top: 226px;
}
.carrer-section .carrer-mid .carrer-content-bottom {
  border-top: 1px solid #bfc0c0;
  border-bottom: 1px solid #bfc0c0;
}
.carrer-section .carrer-mid .carrer-content-bottom ul {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin-top: 10px;
  padding-left: 40px;
}
.carrer-section .carrer-mid .carrer-content-bottom ul li {
  width: 138px;
  height: 28px;
  margin-bottom: 30px;
  border: 1px solid #35a69f;
  border-radius: 14px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
.carrer-section .carrer-right {
  width: 179px;
  padding-top: 26px;
  padding-left: 30px;
  border-left: 1px solid #bfc0c0;
  border-bottom: 1px solid #bfc0c0;
}
.carrer-section .carrer-right .carrer-content-title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #35a69f;
}
.carrer-section .carrer-right ul li {
  display: inline-block;
  margin-bottom: 10px;
  width: 118px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #35a69f;
  border-radius: 14px;
}
.carrer-section .carrer-bottom {
  width: 1000px;
  height: 79px;
  background: #fff;
}
.carrer-section .carrer-bottom .carrer-bottom-text {
  display: inline-block;
  width: 938px;
  height: 35px;
  margin-left: 30px;
  margin-top: 21px;
  border: 1px dashed #35a69f;
  border-radius: 18px;
  text-align: center;
  line-height: 35px;
  font-size: 13px;
  background: #bdf4ef;
}
.carrer-section .carrer-info {
  margin-top: 24px;
  line-height: 13px;
  text-align: center;
  font-size: 13px;
  color: #999;
}
.vocation-section {
  padding-top: 46px;
  background: #f4f4f4;
}
.vocation-section .vocation-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.vocation-section .vocation-content img {
  margin-bottom: 10px;
}
.how-section {
  padding-top: 23px;
  padding-bottom: 10px;
  background: #f4f4f4;
}
.how-section ul {
  display: flex;
  justify-content: space-around;
  height: 260px;
  margin-top: 20px;
  background: #fff;
}
.how-section ul li {
  text-align: center;
  font-size: 0;
}
.how-section ul .how-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  margin: 0 auto;
  margin-top: 26px;
  border-radius: 50%;
  background: #f4f4f4;
}
.how-section ul .how-study-title {
  margin-top: 24px;
  font-size: 15px;
  line-height: 15px;
  color: #333;
}
.how-section ul .how-block {
  display: inline-block;
  width: 20px;
  height: 2px;
  margin: 14px 0;
  background: #6aeae7;
}
.how-section ul .how-study-text {
  width: 132px;
  text-align: left;
  font-size: 12px;
}
.study-section {
  position: relative;
  padding-top: 22px;
  padding-bottom: 10px;
  background: #f4f4f4;
}
.study-section .study-content {
  margin-top: 20px;
}
.study-section .study-content .study-content-item {
  width: 630px;
  height: 150px;
  padding-top: 31px;
  padding-left: 30px;
  background: #fff;
}
.study-section .study-content .study-content-item:first-child {
  color: #fff;
  background: url(../img/stu1.png);
}
.study-section .study-content .study-content-title {
  font-size: 16px;
}
.study-section .study-content .study-content-text {
  padding-top: 17px;
  padding-right: 26px;
  font-size: 12px;
}
.study-section .study-img {
  position: absolute;
  top: 60px;
  right: 423px;
}
.coach-section {
  padding-top: 22px;
  padding-bottom: 10px;
  background: #f4f4f4;
}
.coach-section .coach-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.story-section {
  padding-top: 22px;
  padding-bottom: 10px;
  background: #f4f4f4;
}
.story-section .story-content {
  position: relative;
}
.story-section .story-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
  background: #fff;
}
.story-section .story-content li {
  width: 245px;
  margin-bottom: 60px;
}
.story-section .story-content .story-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 44px;
}
.story-section .story-content .college {
  margin-top: 24px;
  font-size: 14px;
  line-height: 14px;
}
.story-section .story-content .join {
  margin-top: 14px;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 13px;
  color: #999;
}
.story-section .story-content .story-line {
  position: absolute;
  top: 60px;
  right: 30px;
}
.question-section {
  padding-top: 21px;
  padding-bottom: 70px;
  background: #f4f4f4;
}
.question-section .question-content {
  margin-top: 20px;
  background: #fff;
}
.question-section .question-content li {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.question-section .question-content .question {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  font-size: 13px;
  font-weight: 500;
}
.question-section .question-content .question:before {
  content: 'Q';
  position: absolute;
  top: 2px;
  left: 7px;
  display: inline-block;
  width: 13px;
  height: 16px;
  font-size: 15px;
  line-height: 15px;
  color: #58b558;
}
.question-section .question-content .answer {
  position: relative;
  padding-bottom: 25px;
  padding-left: 30px;
  font-size: 12px;
  border-bottom: 1px solid #d5e0e0;
}
.question-section .question-content .answer:before {
  content: 'A';
  position: absolute;
  top: 2px;
  left: 7px;
  display: inline-block;
  width: 13px;
  height: 16px;
  font-size: 15px;
  line-height: 15px;
  color: #58b558;
}
.question-section .question-content .answer-bottom {
  border-bottom: none;
}
.question-section .question-content .question-info {
  height: 49px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.question-section .question-content .question-info a {
  position: relative;
  line-height: 49px;
  font-weight: 500;
  font-size: 13px;
}
.question-section .question-content a:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  position: absolute;
  top: 3px;
  right: -20px;
  transform: rotate(45deg);
}
