.page-header{
  background: #325350;
  .header-content{
    display: flex;
    width: 1000px;
    height: 70px;
    margin: 0 auto;
  }
  .header-logo{
    padding-top: 15px;
    margin-right: 5px;
  }
  .header-description{
    padding-top: 17px;
    line-height: 32px;
    .header-text{
      height: 32px;
      width: 263px;
      padding-left: 11px;
      border: 1px solid #3ab1a8; 
      border-radius: 5px;
      border-left: none;
      font-size: 14px;
      color: #3ab1a8;
    }
  }
  .header-login{
    flex: 1;
    text-align: right;
    line-height: 70px;
    font-size: 14px;
    color: #fff;
    a:hover{
      color: #58b558
    }
    .header-block{
      position: relative;
      top: 4px;
      display: inline-block;
      width: 1px;
      height: 16px;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid #fff;
      background: #fff;
    }
  }
}
.banner-section{
  height: 650px;
  padding-top: 90px;
  text-align: center;
  position: relative;
  background: url(./../img/bbj1.png) center center no-repeat;
  .banner-image-top{
    display: block;
    width: 332px;
    margin: 0 auto;
    margin-bottom:20px;
  }
  .banner-image-title{
    height: 60px;
    margin-bottom: 25px;
  }
  .banner-image-title-p{
    height: 18px;
    margin-bottom: 50px;
  }
  .banner-right-img{
    position: absolute;
    top: 27px;
    right: 490px;
  }
  .banner-description{
    width: 679px;
    height: 282px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 20px;
    position:relative;
    background: url(./../img/b6.png) center center no-repeat / 679px 282px;
    h3{
      font-size: 16px;
      line-height: 24px;
      height: 24px;
      color: #333;
      text-align: left;
      font-weight: 700;
    }
    .banner-content{
      text-align: left;
      font-size: 14px;
      color: #666;
      line-height: 24px;
      height: 48px;
      margin-top: 15px;
    }
    .banner-group{
      font-size: 14px;
      height: 26px;
      width: 245px;
      background: #f7f4a6;
      color: #035751;
      line-height: 26px;
      text-align: center;
      margin-top: 33px;
      margin-bottom: 20px;
    }
    a{
      display: inline-block;
      width: 274px;
      height: 79px;
      position: absolute;
      bottom: 40px;
      right: 4px;
      background: url(./../img/b5.png) no-repeat center center / 274px 79px;
      font-size: 24px;
      color: #fff;
      line-height: 79px;
      padding-left: 20px;
      text-align: center;
      text-decoration: none;
    }
    .banner-limit{
      position: absolute;
      bottom: 52px;
      left: 50px;
      font-size: 15px;
      font-weight: 600;
    }
    .banner-money-1{
      position:absolute;
      bottom:47px;
      left: 140px;
      font-size: 24px;
      color: #de7d2e;
    }
    .banner-money-2{
      position: absolute;
      bottom: 52px;
      left: 210px;
      font-size: 15px;
      color: #999;
    }
  }
  .banner-info{
    margin-top: 20px;
    text-align: center;
    .banner-info-item{
      margin-right: 60px;
      font-size: 15px;
      color: #fff;
    }
    &:last-child{
      margin-right: 0;
    }
    .yellow{
      color: #fefdd0;
    }
  }
}
.nav-container{
    display: block;
    height: 60px;
    background: #23a198;
    .banner-nav{
      width: 1000px;
      margin: 0 auto;
    }
    .banner-nav-item{
      display: inline-block;
      width: 167px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      font-size: 18px;
      color: #fff;
      &:hover{
        background: #28716c;
      }
    }
    .active{
      background: #28716c;
    }
  }
.main-container{
  .sketch{
    display: block;
    .title{
      margin-bottom: 19px; 
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;  
    }
    .title-p{
      font-size: 14px;
      line-height: 14px;
      color: #999;
    }
    .container{
      width: 1000px;
      margin: 0 auto;
    }
    .module-one{
      padding-top: 70px;
      padding-bottom: 70px;
      background:#f9f9f9;
      text-align: center;
      .module-one-content{
        width: 650px;
        margin: 0 auto;
        margin-top: 50px; 
      }
    }
    .module-two{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      .module-two-content{
        display: flex;
        justify-content: space-around;
        margin-top: 53px;
      }
      .module-item-image{

      }
      .module-two-item-title{
        font-size: 15px;
        position: relative;
        top: -33px;
      }
      .module-two-p{
        margin-top: 34px;
        font-size: 16px;
        color: #999;
      }
      .module-two-money{
        color: #47958f;
      }
    }
    .module-three{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      background: #f9f9f9;
      .module-three-image{
        margin-top: 90px;
      }
      .module-three-left{
        float: left;
        display: flex;
        width: 50px;
        height: 80px;
        justify-content: center;
        align-items: center;
        &:hover{
          background: #f1f1f1;
        }
      }
      .module-three-right{
        float: right;
        display: flex;
        width: 50px;
        height: 80px;
        justify-content: center;
        align-items: center;
        background:#f5f5f5;
      }
      .module-three-name{
        font-size: 16px;
      }
      .module-three-p{
        font-size: 14px;
      }
      .module-dot{
        margin-top: 80px;
      }
    }
    .module-four{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      .module-four-content{
        margin-top: 50px;
      }
    }
    .module-five{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      background: #f9f9f9;
      .module-five-content{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
      }
      .module-five-item{
        padding-top: 119px;
        text-align: right;
        line-height: 48px;
        font-style: oblique;
        font-size: 18px;
        &:last-child{
          padding-top: 0;
        }
      }
    }
    .module-six{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      .module-six-content{
        width: 650px;
        margin: 0 auto;
        margin-top: 50px
      }
    }
    .module-seven{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      background: #f9f9f9;
      .module-seven-content{
        display: flex;
        justify-content: center;
        margin-top: 90px;
      }
    }
    .module-eight{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      background: #fff;
      .module-right-content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 1920px;
        margin-top: 70px;  
      }
    }
    .module-nine{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      background: #f9f9f9;
      .module-nine-content{
        display: flex;
        justify-content: space-around;
        margin-top: 75px;
      }
    }
    .module-ten{
      padding-top:70px;
      padding-bottom: 70px;
      text-align: center;
      background:url(./../img/bbj1.png);
    }
  }
  .outline{
    display: none;
    padding-top: 70px;
    padding-bottom: 70px;
    .title{
      width: 200px;
      height: 30px;
      margin: 0 auto;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 45px;
      text-align: center;
      background: url(./../img/bt.png) center center no-repeat;
    }
    dl{
      width: 605px;
      height: 124px;
      margin: 0 auto;
      background: #fff;
      padding-left: 200px;
      margin-top: -1px;
      position: relative;
    }
    dl dt{
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      border: 1px solid #e4e4e4;
      text-align: center;
      font-size: 16px;
      line-height: 124px;
      color: #555;
    }
    dl dd{
      height: 41px;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4;
      text-align: left;
      line-height: 40px;
      padding-left: 20px;
      color: #555;
      font-size: 14px;
    }
    dl dd:last-child{
      height: 42px;
    }
    .part-one{
      margin-bottom: 65px;
      .part-title{
        width: 605px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #fff;
        background: #ff7293;
        margin: 0 auto;
        text-align: center;
      }
    }
    .part-two{
      margin-bottom: 65px;
      .part-title{
        width: 605px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #fff;
        background: #ff9a72;
        text-align: center;
        margin: 0 auto;
      }
    }
    .part-three{
      margin-bottom: 65px;
      .part-title{
        width: 605px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #fff;
        background: #64c769;
        text-align: center;
        margin: 0 auto;
      }
    }
    .part-four{
      margin-bottom: 65px;
      .part-title{
        width: 605px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #fff;
        background: #64c7c1;
        text-align: center;
        margin: 0 auto;
      }
    }
    .part-five{
      margin-bottom: 65px;
      .part-title{
        width: 605px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #fff;
        background: #519fee;
        text-align: center;
        margin: 0 auto;
      }
    }
    .part-six{
      margin-bottom: 65px;
      .part-title{
        width: 605px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #fff;
        background: #9e78ff;
        text-align: center;
        margin: 0 auto;
      }
    } 
  }
  .jobensure{
    display: none;
    padding-top: 70px;
    padding-bottom: 100px;
    h2{
      margin-bottom: 20px;
      text-align: center;
      line-height: 24px;
      font-size: 24px;
      font-weight: 500;
    }
    img{
      position: absolute;
    }
    li{
      margin-bottom: 79px;
    }
    .title-p{
      line-height: 16px;
      font-size: 16px;
      text-align: center;
      color: #999;
    }
    .container{
      width: 1000px;
      margin: 0 auto;
      position: relative;
    }
    .job-1{
      top: 185px;
      left: 100px;
    }
    .job-2{
      top: 290px;
      left: 680px;
    }
    .job-3{
      top: 590px;
      left: 100px;
    }
    .job-4{
      top: 680px;
      left: 680px;
    }
    .job-5{
      top: 0;
      left: 445px;
    }
    .job-content{
      font-size: 16px;
      margin-top: 75px;
      height: 950px;
      width: 100%;
      background: url(./../img/j5.png) center center no-repeat;
    }
    .odd{
      text-align: left;
      margin-left: 515px;
    }
    .even{
      text-align: right;
      margin-right: 515px;
    }
  } 
  .user{
    display: none;
    h2{
      margin-bottom: 20px;
      text-align: center;
      line-height: 24px;
      font-size: 24px;
      color: #000;
    }
    .title-p{
      line-height: 16px;
      text-align: center;
      font-size: 16px;
      color: #999;
    }
    .count-1{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      background: #f9f9f9;
      .container{
        width: 1000px;
        margin: 0 auto;
      }
      .count-1-image{
        margin-top: 90px;
      }
      .count-1-left{
        float: left;
        display: flex;
        width: 50px;
        height: 80px;
        justify-content: center;
        align-items: center;
      }
      .count-1-right{
        float: right;
        display: flex;
        width: 50px;
        height: 80px;
        justify-content: center;
        align-items: center;
        background:#f5f5f5;
      }
      .count-1-name{
        font-size: 16px;
      }
      .count-1-p{
        font-size: 14px;
      }
      .count-dot{
        margin-top: 80px;
      }
    }
    .count-2{
      padding-top: 70px;
      padding-bottom: 70px;
      .container{
        width: 1000px;
        margin: 0 auto;
      }
      ul{
        display: flex;
        margin-top: 70px;
      }
      li{
        position: relative;
        z-index: 1;
        float: left;
        overflow: hidden;
        width: 199px;
        height: 319px;
        margin-right: 1px;
        cursor: pointer;
      }
      li:hover .remark{
        visibility: visible;
        height: 345px;
        // -webkit-transition: -webkit-transform 335ms ease 225ms, opacity 335ms ease 225ms;
        transition: transform 335ms ease 225ms, opacity 335ms ease 225ms;
        // -webkit-transform: translateY(0px);
        // -ms-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
      }
      .remark{
        font-size: 14px;
        line-height: 2em;
        position: absolute;
        top: 0;
        left: 0;
        width: 215px;
        height: 345px;
        padding: 20px;
        transition: transform 105ms ease 30ms, opacity 105ms ease 30ms;
        transform: translateY(430px);
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
    .count-3{
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      background: #f9f9f9;
      .count-content-top{
        margin-top: 55px;
      }
      .count-content-bottom{
        margin-top: 35px;
      }
    }
  }
  .answer{
    display: none;
    padding-top: 65px;
    padding-bottom: 40px;
    h3{
      font-size: 24px;
      color: #000;
      text-align: center;
      font-weight: 400;
    }
    p{
      margin-top: 15px;
      margin-bottom: 50px;
      font-size: 16px;
      color: #999;
      text-align: center;
    }
    div{
      width: 1000px;
      margin: 0 auto;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 25px;
    }
    div span{
      display: block;
      font-size: 16px;
      color: #333;
      margin-bottom: 12px;
      font-weight: bold;
    }
    div p{
      font-size: 14px;
      color: #666;
      line-height: 24px;
      text-align: justify;
    }
  }
  .sidebar{
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -650px;
    li{
      position: relative;
      font-size: 14px;
      color: #22a59b;
      width: 70px;
      height: 70px;
      padding-top: 10px;
      border: 1px solid #22a59b;
      background: #fff;
      text-align: center;
      margin-top: -1px;
      transition: all .2s;
      cursor: pointer;
    }
    li i{
      display: inline-block;
    }
    .img1{
      width: 21px;
      height: 24px;
      background: url(./../img/sd1.png) center center no-repeat;
    }
    .img2{
      width: 24px;
      height: 25px;
      background: url(./../img/sd2.png) center center no-repeat;
    }
    .img3{
      width: 24px;
      height: 24px;
      background: url(./../img/sd3.png) center center no-repeat;
    }
    .img4{
      display: inline-block;
      width: 20px;
      height: 20px;
      border:  3px solid #22a59b;
      border-right: none;
      border-top: none;
      transform: rotate(133deg);
    }
    li:hover{
      background: #22a59b;
      color: #fff;
    }
  }
}
.page-footer{
  height: 70px;
  background: url(./../img/footer.png);
  .footer-p{
    line-height: 70px;
    text-align: center;
    font-size: 12px;
    color: #fff;
  }
}